<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:beans="http://www.springframework.org/schema/context" xmlns:bean="http://www.springframework.org/schema/c"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


<!--<bean:component-scan base-package="db.DAO"></bean:component-scan>-->
    <!--<bean:component-scan base-package="web.services"></bean:component-scan>-->
    <!--<bean id = "userDao" class="db.DAO.UserDao" scope="singleton"></bean>-->
 <!--<bean id="userDataDao" class="db.DAO.UserDataDao"/>-->
</beans>